<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soda.npe.serviceuser.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="soda.npe.serviceuser.entity.UserInfo">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="registerDate" column="register_date" jdbcType="TIMESTAMP"/>
            <result property="isBanned" column="is_banned" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,description,
        avatar,register_date,is_banned
    </sql>
</mapper>
