<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soda.npe.common.mapper.ArticleReplyMapper">

    <resultMap id="BaseResultMap" type="soda.npe.common.entity.ArticleReply">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goalArticleId" column="goal_article_id" jdbcType="BIGINT"/>
            <result property="goalReplyId" column="goal_reply_id" jdbcType="BIGINT"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="publisherId" column="publisher_id" jdbcType="BIGINT"/>
            <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goal_article_id,goal_reply_id,
        text,publisher_id,publish_time
    </sql>
</mapper>
