<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soda.npe.common.mapper.QuestionInfoMapper">

    <resultMap id="BaseResultMap" type="soda.npe.common.entity.QuestionInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="publisherId" column="publisher_id" jdbcType="BIGINT"/>
            <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,publisher_id,
        publish_time,category
    </sql>
</mapper>
