<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soda.npe.common.mapper.ReportMapper">

    <resultMap id="BaseResultMap" type="soda.npe.common.entity.Report">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="goalUserId" column="goal_user_id" jdbcType="BIGINT"/>
        <result property="goalArticleId" column="goal_article_id" jdbcType="BIGINT"/>
        <result property="goalArticleReplyId" column="goal_article_reply_id" jdbcType="BIGINT"/>
        <result property="goalQuestionId" column="goal_question_id" jdbcType="BIGINT"/>
        <result property="goalQuestionReplyId" column="goal_question_reply_id" jdbcType="BIGINT"/>
        <result property="goalQuestionAnswerId" column="goal_question_answer_id" jdbcType="BIGINT"/>
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="isProcessed" column="is_processed" jdbcType="TINYINT"/>
        <result property="reporterId" column="reporter_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goal_user_id,goal_article_id,
        goal_article_reply_id,goal_question_id,goal_question_reply_id,
        goal_question_answer_id,time,comment,
        is_processed,reporter_id
    </sql>
</mapper>
