<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soda.npe.common.mapper.UserNoticeMapper">

    <resultMap id="BaseResultMap" type="soda.npe.common.entity.UserNotice">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="goalUserId" column="goal_user_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="text" column="text" jdbcType="VARCHAR"/>
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
        <result property="isRead" column="is_read" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goal_user_id,title,
        text,time,is_read
    </sql>
</mapper>
